<div class="text-center">

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="no-underline bg-purple-800 rounded-full  p-1 text-white">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}
</div>