

{% block title %} Affichage d'un livre {% endblock %}

{% block body %}
<h1> Voici le livre choisi : </h1>

<p>Titre du livre: {{ livre.titre }}</p>
<p>Date de parution: {{ livre.dateparution }}</p>


{% endblock %}