<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Liste des auteurs!{% endblock %}</title>
        {% block stylesheets %}
        <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

            
        {% endblock %}
        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}

    </head>
    <body class="bg-purple-300">
        {% block body %}
        

        {% endblock %}
    </body>
</html>